<!-- services/templates/services/order_summary.html -->

{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
<div class="container py-5">
    <h2 class="mb-4">{% trans 'Order Summary' %}</h2>
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{% trans 'Service Details' %}</h5>
                    <p><strong>{% trans 'Doctor Name' %}:</strong> {{ doctor_name }}</p>
                    <p><strong>{% trans 'Service Name' %}:</strong> {{ service.name }}</p>
                    <p><strong>{% trans 'Price' %}:</strong> ${{ service.price }}</p>
                    <p><strong>{% trans 'Total Price' %}:</strong> ₪{{ total_price }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="{% url 'services:payment' %}" class="btn btn-primary btn-block">{% trans 'Proceed to Checkout' %}</a>        </div>
        <div class="col-lg-6">
            <a href="{% url 'services:services' %}" class="btn btn-secondary btn-block">{% trans 'Back To Services' %} </a>
        </div>
    </div>
</div>
{% endblock %}